<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>欢迎来到实验室开课系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>

</head>
  
  <body>
  <!-- 顶部开始 -->
  <div class="container">
      <div class="logo"><a href="./main.html">实验室开课系统</a></div>
      <div class="left_open">
          <i title="展开左侧栏" class="iconfont">&#xe699;</i>
      </div>
      <ul class="layui-nav left fast-add" lay-filter="">
          <li class="layui-nav-item">
              <a href="javascript:;">+新增</a>
              <dl class="layui-nav-child"> <!-- 二级菜单 -->
                  <dd><a onclick="x_admin_show('资讯','http://www.baidu.com')"><i class="iconfont">&#xe6a2;</i>资讯</a></dd>
                  <dd><a onclick="x_admin_show('图片','http://www.baidu.com')"><i class="iconfont">&#xe6a8;</i>图片</a></dd>
                  <dd><a onclick="x_admin_show('用户','http://www.baidu.com')"><i class="iconfont">&#xe6b8;</i>用户</a></dd>
              </dl>
          </li>
      </ul>
      <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
              <a href="javascript:;">[[${session.user.username}]]</a>
              <dl class="layui-nav-child"> <!-- 二级菜单 -->
                  <dd><a onclick="x_admin_show('个人信息','http://www.baidu.com')">首页</a></dd>
                  <dd><a onclick="x_admin_show('切换帐号','http://www.baidu.com')">修改密码</a></dd>
                  <dd><a href="/">注销</a></dd>
              </dl>
          </li>
          <li class="layui-nav-item to-index"><a href="/">测试</a></li>
      </ul>

  </div>
  <!-- 顶部结束 -->
  <!-- 中部开始 -->
  <!-- 左侧菜单开始 -->
  <div th:fragment="left" class="left-nav">
      <div id="side-nav">
          <ul id="nav">
              <li>
                  <a href="javascript:;">
                      <i class="iconfont">&#xe6b8;</i>
                      <cite>课程设置</cite>
                      <i class="iconfont nav_right">&#xe697;</i>
                  </a>
                  <ul class="sub-menu">
                      <li>
                          <a th:href="@{'/member/'+${session.user.id}}">
                              <i class="iconfont">&#xe6a7;</i>
                              <cite>课表管理</cite>

                          </a>
                      </li >
                      <li>
                          <a href="/member-password">
                              <i class="iconfont">&#xe6a7;</i>
                              <cite>增加课程</cite>
                          </a>
                      </li>

                  </ul>
              </li>
              <!--                // th:if="${session.user.role==teacher}" [[${session.user.role}]]   -->
              <li th:if="${session.user.role== 'teacher'||session.user.role== 'boss'}">
                  <a href="javascript:;">
                      <i class="iconfont">&#xe723;</i>
                      <cite>实验课程设置</cite>
                      <i class="iconfont nav_right">&#xe697;</i>
                  </a>
                  <ul class="sub-menu">
                      <li>
                          <a _href="order-list.html">
                              <i class="iconfont">&#xe6a7;</i>
                              <cite>订单列表</cite>
                          </a>
                      </li >
                  </ul>
              </li>
              <li th:if="${session.user.role== 'student'||session.user.role== 'boss'}">
                  <a href="javascript:;">
                      <i class="iconfont">&#xe723;</i>
                      <cite>学生模块</cite>
                      <i class="iconfont nav_right">&#xe697;</i>
                  </a>
                  <ul class="sub-menu">
                      <li>
                          <a _href="cate.html">
                              <i class="iconfont">&#xe6a7;</i>
                              <cite>多级分类</cite>
                          </a>
                      </li >
                  </ul>
              </li>
              <li>
                  <a href="javascript:;">
                      <i class="iconfont">&#xe723;</i>
                      <cite>未命名</cite>
                      <i class="iconfont nav_right">&#xe697;</i>
                  </a>
                  <ul class="sub-menu">
                      <li>
                          <a _href="city.html">
                              <i class="iconfont">&#xe6a7;</i>
                              <cite>三级地区联动</cite>
                          </a>
                      </li >
                      <li>
                          <a thhref="order-list.html">
                              <i class="iconfont">&#xe6a7;</i>
                              <cite>富文本</cite>
                          </a>
                      </li >
                  </ul>
              </li>
          </ul>
      </div>
  </div>
  <!--  右侧主题开始-->
  <div class="page-content">
    <div class="x-body">
        <form class="layui-form" method="post" action="/addcour">
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  班级
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_username" name="s_classes" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>课程名
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_repass" name="c_name" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>时间段
              </label>
              <div class="layui-input-inline">
                  <select name="c_time" id="weekchoose" style="width: 60px"></select>
                  <select name="c_time" id="timechoose" style="width: 60px"></select>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>课时
              </label>
              <div class="layui-input-inline">
                  <select name="num">
                      <option>Chose num</option>
                      <option >8</option>
                      <option>16</option>
                  </select>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="save">
                  增加
              </button>
          </div>
      </form>
    </div>
  </div>
    <script>
        const week=[
            "星期一","星期二","星期三","星期四","星期五","星期六","星期日"
        ];
        const timeD = [
            "上午第一节8.00-9.40",
            "上午第二节10.00-11.45",
            "下午第一节14.00-15.40",
            "下午第二节16.00-17.45",
            "晚上第一节19.00-20.45"
        ];
        let weekcho = document.getElementById("weekchoose");
        let timecho = document.getElementById("timechoose");
        let value = weekcho.value;
             console.log(value);
        for (let i in week){
            let option = document.createElement('option');
            option.append(document.createTextNode(week[i]));
            option.setAttribute("value",week[i]);
            weekcho.appendChild(option)
        }
        for (let o in timeD){
            let option = document.createElement('option');
            option.append(document.createTextNode(timeD[o]));
            option.setAttribute("value",timeD[o]);
            timecho.appendChild(option)
        }


        function submit(data) {
            console.log(data)
        }
    </script>
  </body>

</html>